html, body {
  margin:0;
  padding:0;}

::-webkit-scrollbar {
  width: 0px;}


/*top nav*/
.title {
  height: 10vh;
  overflow: hidden;}
.title a {
  font-family: graphie, sans-serif;
  font-weight: 700;
  font-size: 2.5vw;
  float: left;
  padding-left: 32px;
  font-style: normal;
  text-decoration: none;
  color: #2B1B20;
  display: flex;
  align-items: center;
  height: 10vh;}
a:hover {
  color: #CA5743;}
  .nav-right {float: right;
  padding-right: 32px;}
@media screen and (max-width: 1024px) {
  .title a {font-size: 3.5vw;}}
@media screen and (max-width: 600px) {
  .title a {font-size: 6vw;}}


/*header image*/
.header {
  height: 90vh;}
.header img {
  width: 10%;
  margin-left: 45%;
  margin-top: 30vh;}
@media screen and (max-width: 1024px) {
  .header img {
    margin-left: 20%;
    margin-right: 20%}}
@media screen and (max-width: 600px) {
  .thumbnail {
    margin-left: 10%;
    margin-right: 10%;}}


/*description*/
.description {margin: 16px;}
.description p {max-width: 66%;}
@media screen and (max-width: 800px) {
  .description p {max-width: 100%;}}


/*text styling*/
p {
  font-size: 20px;
  max-width: 75%;}
@media screen and (max-width: 600px) {
  p {
    max-width: 100%;}}
@media screen and (max-width: 1320px) {
  .columnB p {max-width: 100%;}}
h2 {
  font-family: graphie, sans-serif;
  font-size: 15px;
  font-weight: lighter;}
h1 {
  font-family:'Montserrat', sans-serif;
  font-weight: 600;}


/*sections, rows, and columns styling*/
.section {
  padding-left: 16px;
  padding-right: 16px;}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding-top: 16px;
  padding-bottom: 16px;}
@media screen and (max-width: 1320px) {
  .row {
    margin: 0px;
    padding: 0px;}}

/*50% width columns*/
.columnA {
  -ms-flex: 47%; /* IE10 */
  flex: 47%;
  max-width: 49%;
  margin-left: 16px;
  margin-right: 16px;}
@media screen and (max-width: 1320px) {
    .columnA {
      -ms-flex: 47%; /* IE10 */
      flex: 47%;
      max-width: 45%;
      margin-top: 16px;
      margin-bottom: 16px;
      margin-left: 16px;
      margin-right: 16px;}}
@media screen and (max-width: 800px) {
  .columnA {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    max-width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;}}

/*66% width columns*/
.columnB {
  -ms-flex: 63%; /* IE10 */
  flex: 63%;
  max-width: 66%;
  margin-left: 16px;
  margin-right: 16px;}
@media screen and (max-width: 1320px) {
  .columnB {
    -ms-flex: 47%; /* IE10 */
    flex: 47%;
    max-width: 45%;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;}}
@media screen and (max-width: 800px) {
  .columnB {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    max-width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;}}

/*33% width columns*/
.columnC {
  -ms-flex: 31%; /* IE10 */
  flex: 31%;
  max-width: 32%;
  margin-left: 16px;
  margin-right: 16px;}
@media screen and (max-width: 1320px) {
  .columnC {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;}}
@media screen and (max-width: 800px) {
  .columnC {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    max-width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;}}

/*100% width columns*/
.columnD {
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
  max-width: 100%;
  margin-left: 16px;
  margin-right: 16px;}
@media screen and (max-width: 1320px) {
  .columnD {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;}}
@media screen and (max-width: 800px) {
  .columnD {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    max-width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;}}


/*thumbnail styling*/
.thumbnail {
  width: 25%;
  height: 45vh;
  position: relative;
  text-align: center;}
.thumbnail img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);}
.thumbnail:hover img {
  opacity: 0.25;}
.thumbnail:hover .name {
  visibility: visible;
  color: #2B1B20;}
.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;}
.name2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;}
.thumbnail:hover .name2 {
  visibility: visible;
  color: #FDEEDA;}

/*thumbnail responsive styling*/
@media screen and (max-width: 1024px) {
  .thumbnail {width: 50%;}}
@media screen and (max-width: 600px) {
  .thumbnail {width: 100%;
    margin: 0px;
    padding: 0px;}}


/*video media styling*/
.video {
  margin: 0px;
  padding: 0px;}
.video iframe {
  width: 100%;
  margin: 0px;
  padding: 0px;}
video {
    width: 100%;}
@media screen and (max-width: 1200px) {
  video {width: 75%;}}
@media screen and (max-width: 800px) {
  video {width: 75%;}}
